
  

.column1{
  flex: 50%;
  max-width: 100%;
}
.column1 div{
  vertical-align: middle;
}
 
* {
  box-sizing: border-box;
}       
.h1 {  
  color: black; 
 overflow-x: auto;
 overflow-y: auto;
 margin-left: 7px;
 border-radius: 15px;
 background-color: rgb(155, 78, 91) ;width: 55%; height:50px

}  

.h2 {  
  color: black; 
  margin-left: 2%;
  border-radius: 15px;
  background-color: rgb(155, 78, 91);width: 20%; height:50px;
  overflow-x: auto;
 overflow-y: auto;
}
.h3{
  color: black; 
  margin-left: 2%;
  border-radius: 15px;
  background-color: rgb(155, 78, 91);width: 80%; height:50px; 
  overflow-x: auto;
  overflow-y: auto;
}

.h4{
  color: black; 
  
  margin-left: 2%;
  border-radius: 15px;
  background-color: rgb(155, 78, 91) ;width: 50%; height:50px;
  overflow-x: auto;
  overflow-y: auto;
}
.h5{
  color: black; 

  margin-left: 2%;
  border-radius: 15px;
  background-color: rgb(155, 78, 91) ;width: 90%; height:50px;
  overflow-x: auto;
  overflow-y: auto;
} 
.h6{
  color: black; 

  margin-left: 2%;
  border-radius: 15px;
  background-color:rgb(155, 78, 91) ;width: 70%; height:50px;
  overflow-x: auto;
  overflow-y: auto;
} 

.p {  

  color: black;
font-size: 18px;
margin-left: 5%;
}  
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 

  min-width: 100%;
  min-height: 100%;
  height: 100%;
  

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
#instagram{
   width: 20%;
 
   margin: 5px 3px 3px 3px;
}
#facebook{width: 20%;

  margin: 5px 3px 3px 3px;
}
#snapchat{width: 20%;
 
  margin: 5px 3px 3px 3px;
}
#email{width: 20%;

  margin: 5px 3px 3px 3px;
}

#personalimg{
  width:65%;
  height:280px;
margin: 8% 8% 8% 8%;
  border: 5px black solid;


}


.mainbody {  
  width: 65%;  
overflow:auto; 
margin-top: 10%;
margin-left: 1%;
  border-radius: 10px;  
  background-color:white;
  opacity: 0.9  ;  
  display: flex;
  flex-wrap: wrap;

}  

.PERSONAL-INFORMATINBody {  
  width: 70%;  
  overflow: auto;  
  border: 5px black solid; 
margin: 2% 7% 7% 7%;
  text-align: left;
 
  background-color: white; 

  
}
.PERSONAL-INFORMATINBody ul{


  display: block;  
  list-style: none;  
  padding: 2px 0 0 3px;  
  margin: 4% 4% 4% 4%; 
  text-align: left; 


}
.PERSONAL-INFORMATINBody ul li{
  font-size: 18px;
  padding: 0px;  

  margin: 4% 4% 4% 4%;
  

}

.EducationBody{  
  width: 90%;  
 overflow: auto;  
  border: 5px black solid;  
margin-top: 4%;
margin-left: 7%;
margin-right: 0%;
margin-bottom: 4%;



}   



.mainbody-center {  
  width: 90%;  
 overflow: auto; 
  border: 5px black solid;  
  margin: 6% 6% 6% 6%;

  

}
.socailMediaBody{

  width:93%;
 overflow: auto; 

  border: 5px black solid;
  margin: 10% 15% 10% 5%;

 

}
.Certificates{
  width: 75%;
  overflow: auto; 
  border: 5px black solid;
  margin: 4% 4% 4% 4%;

  

} 
.Certificates ul{
  width: auto;  
  float: left;  
display:block;
   
  padding: 2px 0 0 3px;  
  margin: 4% 4% 4% 4%;
  text-align: left; 


} 

.Certificates ul li{
font-size: 18px;
  padding: 0px;  
  margin: 4% 4% 4% 4%;
  height: auto; 
}
.footer {  
  width: 100%;  
  height: 40px;  
  overflow: hidden;
  position: relative; 
   

}  



.footer p {  
  color:black;  
  margin-left: 1%;
  text-align: center;  
}  


@media (max-width: 768px){
.mainbody{
  flex: 100%;
  max-width: 100%;
  margin-left: 20%;
}

}
@media(max-width:426px){
  
  .mainbody div{

    width:100%;
   

  }
 .h1 ,.h2, .h3, .h4,.h5{
     font-size: 35px;
     max-width: 30%;
 }
  .p{
      font-size: 30px;
  }
  #personalimg{
      width: 100%;
  }
}
@media(max-width:200px){
  .mainbody{
      width: 100%;
  }
}
  